<%= form_for [@user, @congresslist] do |f| %>
  <% congress = @congressmembers.map { |c| c.first_name + " " + c.last_name } %>
  <div class="row">
    <div class = "small-offset-3 small-6 columns">
      <%= f.label :congressmember, class: 'input-group-label' %>
      <%= f.select :congressmember, congress %>
    </div>
  </div>

  <div align="center">
    <%= f.submit "Submit" %>
  </div>
<% end %>
